In [3]:
from nilmtk import DataSet

refit = DataSet(r'C:\Users\Ashraf\ashraf9.hdf')
elec = refit.buildings[1].elec
elec

MeterGroup(meters=
  ElecMeter(instance=1, building=1, dataset='REFIT', site_meter, appliances=[])
  ElecMeter(instance=2, building=1, dataset='REFIT', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=3, building=1, dataset='REFIT', appliances=[Appliance(type='freezer', instance=1)])
  ElecMeter(instance=4, building=1, dataset='REFIT', appliances=[Appliance(type='freezer', instance=2)])
  ElecMeter(instance=5, building=1, dataset='REFIT', appliances=[Appliance(type='washer dryer', instance=1)])
  ElecMeter(instance=6, building=1, dataset='REFIT', appliances=[Appliance(type='washing machine', instance=1)])
  ElecMeter(instance=7, building=1, dataset='REFIT', appliances=[Appliance(type='dish washer', instance=1)])
  ElecMeter(instance=8, building=1, dataset='REFIT', appliances=[Appliance(type='computer', instance=1)])
  ElecMeter(instance=9, building=1, dataset='REFIT', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=10, building=1, dataset='REFIT', appliances=[Appliance(type='electric space heater', instance=1)])
)

In [8]:
computer = elec['computer']
computer.available_columns()

[('power', 'active')]

In [10]:
electric_space_heater = elec['electric space heater']
electric_space_heater.available_columns()

[('power', 'active')]

In [11]:
washer_dryer = elec['washer dryer']
washer_dryer.available_columns()

Exception: search terms match 2 appliances

In [12]:
df = next(computer.load())
df.head()

physical_quantity          power
type                      active
Unix
2013-10-09 14:06:17+01:00      0
2013-10-09 14:06:31+01:00      0
2013-10-09 14:06:46+01:00      0
2013-10-09 14:07:01+01:00      0
2013-10-09 14:07:15+01:00      0

In [13]:
series = next(computer.power_series())
series.head()

Unix
2013-10-09 14:06:17+01:00    0
2013-10-09 14:06:31+01:00    0
2013-10-09 14:06:46+01:00    0
2013-10-09 14:07:01+01:00    0
2013-10-09 14:07:15+01:00    0
Name: (power, active), dtype: int64

In [15]:
series = next(computer.power_series(ac_type='active'))
series.head()

Unix
2013-10-09 14:06:17+01:00    0
2013-10-09 14:06:31+01:00    0
2013-10-09 14:06:46+01:00    0
2013-10-09 14:07:01+01:00    0
2013-10-09 14:07:15+01:00    0
Name: (power, active), dtype: int64

In [3]:
from nilmtk import DataSet

refit = DataSet(r'C:\Users\Ashraf\ashraf9.hdf')
elec = refit.buildings[2].elec
elec

MeterGroup(meters=
  ElecMeter(instance=1, building=2, dataset='REFIT', site_meter, appliances=[])
  ElecMeter(instance=2, building=2, dataset='REFIT', appliances=[Appliance(type='fridge freezer', instance=1)])
  ElecMeter(instance=3, building=2, dataset='REFIT', appliances=[Appliance(type='washing machine', instance=1)])
  ElecMeter(instance=4, building=2, dataset='REFIT', appliances=[Appliance(type='dish washer', instance=1)])
  ElecMeter(instance=5, building=2, dataset='REFIT', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=6, building=2, dataset='REFIT', appliances=[Appliance(type='microwave', instance=1)])
  ElecMeter(instance=7, building=2, dataset='REFIT', appliances=[Appliance(type='toaster', instance=1)])
  ElecMeter(instance=8, building=2, dataset='REFIT', appliances=[Appliance(type='audio system', instance=1)])
  ElecMeter(instance=9, building=2, dataset='REFIT', appliances=[Appliance(type='kettle', instance=1)])
  ElecMeter(instance=10, building=2, dataset='REFIT', appliances=[Appliance(type='fan', instance=1)])
)

In [4]:
fridge = elec['fridge freezer']
fridge.available_columns()

[('power', 'active')]

In [5]:
df = next(fridge.load())
df.head()

physical_quantity          power
type                      active
Unix
2013-09-17 23:08:11+01:00     88
2013-09-17 23:08:18+01:00     88
2013-09-17 23:08:26+01:00     88
2013-09-17 23:08:34+01:00     88
2013-09-17 23:08:42+01:00     88

In [7]:
df = next(fridge.load(ac_type='active', sample_period=3600))
df.head()

physical_quantity              power
type                          active
Unix
2013-09-17 23:00:00+01:00  33.081871
2013-09-18 00:00:00+01:00  34.347245
2013-09-18 01:00:00+01:00  34.171667
2013-09-18 02:00:00+01:00   4.184122
2013-09-18 03:00:00+01:00  31.575251